<div class="container-fluid">
    <div class="medlist col-md-8 mx-auto">
        <div class="pt-3">
            <div class="searchDicv">
                <form class="searchform d-flex ">
                    <input class="form-control searchcol" list="datalistOptions" autocomplete="off" id="exampleDataList" placeholder="Type to search..." (change)="getValue($any($event.target).value)" style="width:60%">
                    <datalist id="datalistOptions">
                      
                      <option *ngFor="let medicine of medArray" [value]="medicine.name">
                      
                    </datalist>
                    <button class="btn btn-outline-primary d-inline " (click)="searchMedicine()">Search</button>
                </form>
            </div>
            <div class="createMed mt-3 mb-3 d-flex flex-row-reverse">
                <button class="btn btn-primary" (click)="createPage()">Add Medicine</button>
            </div>
        </div>
        <div class="" *ngIf="!search">
            <table class="table table-bordered">
                <tr>
                    <th>Medicine Name</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let medicine of medArray">
                    <td> {{medicine.name}}</td>
                    <td>
                        <button class="btn btn-success m-1" (click)="viewPage(medicine.id)">View</button>
                        <button class="btn btn-danger m-1" (click)="medicineDelete(medicine.id)">Delete</button>
                    </td>  
                </tr>
            </table>
        </div>
        <div class="" *ngIf="search">
            <table class="table table-bordered">
                <tr>
                    <th>Medicine Name</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let medicine of serachArray">
                    <td> {{medicine.name}}</td>
                    <td>
                        <button class="btn btn-success m-1" (click)="viewPage(medicine.id)">View</button>
                        <button class="btn btn-danger m-1" (click)="medicineDelete(medicine.id)">Delete</button>
                    </td>  
                </tr>
            </table>
        </div>
        
    </div>
</div>